<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../favicon.ico">
    <title>十方武圣-云悠悠</title>
    <link rel="stylesheet" href="swiper-3.4.2.min.css">
    <link rel="stylesheet" href="comm1.css" charset="utf-8">
    <style>
        a{
            user-select:none;text-decoration: none;
        }
    </style>
</head>
<body>
<div id="app">
<div style="font-size: 22px;color: #e4c781;font-weight: 700;">
    <p style="text-align: center">此页面只是为了测试概率,抽到的道具不会发送游戏仓库</p>
    <p style="text-align: center">任何以此页面盈利的行为,均与作者无关</p>
    <p style="text-align: center">如有侵权请联系作者QQ:1839327863(发送邮件或者加好友备注)</p>
    <p style="text-align: center">本页面网址：<span >{{m_url}}</span></p>
    <p style="text-align: center">官方活动网址
        <a href="https://act.daoju.qq.com/act/a20221108store/"
           style="color: red;user-select:none;text-decoration: none;margin: 0 15px">电脑版</a>
        <a href="https://app.daoju.qq.com/act/a20221108store/"
           style="color: red;user-select:none;text-decoration: none;margin: 0 15px">手机版</a>
    </p>
</div>
<div class="g-wrap"  @click="cfhd_type==0;cfhd_cjjg=[]" style="margin-top:20px">
    <!-- tab1开始 -->
    <div class="tab1-con" data-tabc="1" style="display: block;">
        <div class="container1">
            <div class="toptab" style="transition: transform .3s,background-color .3s,box-shadow .3s" data-hover="0">
                <div class="tab-con">
                    <a href="javascript:;" data-tabt="1" onclick="PTTSendClick('btn','tab1','电竞十周年')"
                       class="tab1 on"></a>
                    <a href="javascript:alert('敬请期待~');" onclick="PTTSendClick('btn','tab2','云悠悠')" class="tab2"></a>
                </div>
            </div>
            <!-- 抽至能量核心 -->
            <div class="part1 center-box part-wait">
                <div class="p1-tit1 title"></div>
                <div class="lottery-btn-box" style="text-align: center">
                    <a class="p1-btn1" @click="cjjAdd(1);czjlAdd(10)"></a>
                    <a class="p1-btn2" @click="cjjAdd(11);czjlAdd(100)"></a>
                    <p class="half-text" style=" font-size: 25px;color: yellow;margin: 20px 0px">
                        累计充值<span class="cfhdChongzhi" style="color: red">{{cfhd_czjl}}</span>元,
                        获得<span class="cfhdChongzhi" style="color: red">{{cfhd_dj}}</span>CF点,
                        获得<span class="cfhdChongzhi" style="color: red">{{cfhd_jf}}</span>积分
                    </p>
                </div>
                <div class="lottery-box">
                    <!-- pc -->
                    <div class="lottery-img pc">
                        <img src="pc1/tab1-lottery-img.png" alt="" class="tab1-lott-img">
                        <video src="pc1/box.mp4"
                               class="tab1-lott-video" id="tab1-lott-video" autoplay="autoplay" muted="">您的浏览器不支持 video
                            标签。
                        </video>
                    </div>
                    <p class="tab1-hdd-num" style="text-align:center;font-size:18px;color:#fff">剩余抽奖机会:<span
                            class="rongyao">{{cfhd_cjj}}</span>次</p>
                    <div class="cq-btn">
                        <a  class="lottery-btn1" @click="SendClick(1)"></a>
                        <a class="lottery-btn2"  @click="SendClick(10)"></a>
                    </div>
                </div>
                <div class="lottery-bottom-box">
                    <div class="preview-box">
                        <div class="p1-preview-text"></div>
                        <div class="swiper-container p1-swiper swiper-container-horizontal">
                            <div class="swiper-wrapper"
                                 style="transform: translate3d(-1316px, 0px, 0px); transition-duration: 0ms;">
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-active"
                                     data-swiper-slide-index="9"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop10 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="0"
                                     style="width: 628px; margin-right: 30px;">
                                    <!-- <p class="p1-text">蝴蝶刀-雷龙皮肤（同时附赠蝴蝶刀）</p> -->
                                    <div class="p1-swiper-shop1"></div>
                                </div>
                                <div class="swiper-slide " data-swiper-slide-index="1"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop2 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide " data-swiper-slide-index="2"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop3 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="3"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop4 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="4"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop5 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="5"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop6 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="6"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop7 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="7"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop8 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="8"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop9 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="9"
                                     style="width: 628px; margin-right: 30px;">
                                    <div class="p1-swiper-shop10 p1-swiper-shop"></div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
                                     data-swiper-slide-index="0" style="width: 628px; margin-right: 30px;">
                                    <!-- <p class="p1-text">蝴蝶刀-雷龙皮肤（同时附赠蝴蝶刀）</p> -->
                                    <div class="p1-swiper-shop1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div class="cache-box">
                        <div class="cache-shop1">
                        </div>
                    </div>
                </div>
                <!-- 暂存箱 分解表 -->
                <div class="dia tab1-dia1" id="showMyGiftContent_905659z" style="outline: none;">
                    <div class="dia-zc-box dia-bg1">
                        <div class="content-box">
                            <div class="zcx-box">
                                <div class="dia-zcx-tit tit"></div>
                                <div class="dia-zcx-bg">
                                    <table class="tab table_bor">
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>领取道具</th>
                                            <th>积分</th>
                                        </tr>
                                        </thead>
                                        <tbody id="getGiftContent_905659z">
                                        <tr v-for="(item,index) in cfhd_zcx" v-if="cfhd_zcx.length>0">
                                            <template v-if="index>=cfhd_zcx_page.pageStart&&index<=cfhd_zcx_page.pageEnd">
                                                <td>{{item.Name}}</td>
                                                <td v-if="item.iStatus==3">
                                                    <a @click="item.iStatus=1;item.sExtend2=1" style="color:#fff;">[发送仓库]</a>
                                                </td>
                                                <td v-if="item.iStatus==3">
                                                    <a @click="item.iStatus=1;item.sExtend2=2;cfhd_jf=cfhd_jf+item.Keynum"
                                                       style="color:#fff;">[分解]</a>
                                                </td>
                                                <td v-if="item.sExtend2==1">已发送</td>
                                                <td v-if="item.sExtend2==1">x</td>
                                                <td v-if="item.sExtend2==2">x</td>
                                                <td v-if="item.sExtend2==2">已分解</td>
                                            </template>
                                        </tr>
                                        <tr v-else>
                                            <td colspan="3" align="center">您尚未获得任何礼包</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="page bxfy" id="getGiftPageContent_905659z">
                                    <span>{{cfhd_zcx_page.pageIndex}} / {{cfhd_zcx_page.pageTotal}}</span>
                                    <a @click="pageChange(-1,'zcx')"
                                       style="user-select:none;text-decoration: none;">上一页</a> /
                                    <a @click="pageChange(+1,'zcx')"
                                       style="user-select:none;text-decoration: none;">下一页</a>
                                </div>
                            </div>
                            <div class="fjb-box">
                                <div class="dia-fjb-tit tit"></div>
                                <div class="dia-fjb-bg">
                                    <div class="dia-fjb-head">
                                        <span>武器名称</span>
                                        <span>分解所获积分</span>
                                    </div>
                                    <ul>
                                        <li v-for="(item,index) in base_par">
                                            <template v-if="index>0&item[4]==1">
                                            <span>{{item[2]}}</span>
                                            <span>{{item[3]}}</span>
                                            </template>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:closeDialog();" class="dia-close" title="关闭"></a>
                </div>
                <!-- 暂存箱 end -->
            </div>
            <!--积分兑换道具 -->
            <div class="part4 center-box part-wait">
                <div class="p4-tit1 title"></div>
                <p class="tab1-xydjdh">剩余可用积分:<span class="tab1-xydjdh-num my-jifen">{{cfhd_jf}}</span></p>
                <div class="p4-shop">
                    <div class="swiper-container p4-swiper swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-active" style="width: 1100px;">
                                <div class="p4-shop-item p4-shop-small-item z">
                                    <div class="shop p4-shop1">
                                        <p class="integral"><span>600</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop2">
                                        <p class="integral"><span>350</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop3">
                                        <p class="integral"><span>300</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop4">
                                        <p class="integral"><span>300</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop5">
                                        <p class="integral"><span>300</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop6">
                                        <p class="integral"><span>300</span>积分</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 1100px;">
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop7">
                                        <p class="integral"><span>300</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop8">
                                        <p class="integral"><span>300</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop9">
                                        <p class="integral"><span>250</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop10">
                                        <p class="integral"><span>250</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop11">
                                        <p class="integral"><span>250</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop12">
                                        <p class="integral"><span>250</span>积分</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 1100px;">
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop13">
                                        <p class="integral"><span>200</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop14">
                                        <p class="integral"><span>200</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop15">
                                        <p class="integral"><span>100</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop16">
                                        <p class="integral"><span>100</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop17">
                                        <p class="integral"><span>100</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop18">
                                        <p class="integral"><span>100</span>积分</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 1100px;">
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop19">
                                        <p class="integral"><span>100</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop20">
                                        <p class="integral"><span>50</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop21">
                                        <p class="integral"><span>50</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop22">
                                        <p class="integral"><span>30</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop23">
                                        <p class="integral"><span>30</span>积分</p>
                                    </div>
                                </div>
                                <div class="p4-shop-item p4-shop-small-item">
                                    <div class="shop p4-shop24">
                                        <p class="integral"><span>30</span>积分</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev swiper-button-disabled"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- tab1 弹窗 -->
    <!-- 恭喜你获得以下道具  抽一次-->
    <div class="dia tab1-dia4" id="tab1_dia_price1" style="display: none;outline: none;">
        <div class="dia-gxn-box">
            <div class="tab1-dia-gxn-tit"></div>
            <div class="tab1-dia-gnx-box">
            </div>
            <div class="tab1-dia-gnx-btn-box">
                <a href="javascript:amsChou(1);" class="tab1-dia-btn-one"
                   onclick="PTTSendClick('btn','tab1-dia-btn-one','抽取1次')"></a>
                <a href="javascript:amsChou(10);" class="tab1-dia-btn-ten"
                   onclick="PTTSendClick('btn','tab1-dia-btn-ten','抽取10次')"></a>
            </div>
        </div>
        <a href="javascript:closeDialog();" class="dia-close" title="关闭"></a>
    </div>
    <!-- 恭喜你获得以下道具  抽十次-->
    <div class="dia tab1-dia5" id="tab1_dia_price10" style="display: none;outline: none;">
        <div class="dia-gxn-box">
            <div class="tab1-dia-gxn-tit"></div>
            <div class="tab1-dia-gnx-box">
            </div>
            <div class="tab1-dia-gnx-btn-box">
                <a href="javascript:amsChou(1);" class="tab1-dia-btn-one"
                   onclick="PTTSendClick('btn','tab1-dia-btn-one','抽取1次')"></a>
                <a href="javascript:amsChou(10);;" class="tab1-dia-btn-ten"
                   onclick="PTTSendClick('btn','tab1-dia-btn-ten','抽取10次')"></a>
            </div>
        </div>
        <a href="javascript:closeDialog();" class="dia-close" title="关闭"></a>
    </div>
    <!-- 主奖池概率弹窗 -->
    <div class="dia tab1-dia7" id="tab1_dia_probability1"
         style="outline: none;position: fixed;bottom: 10%;right: 1%;z-index: 9;">
        <div class="dia-probability-box">
            <table class="probability-con1">
                <thead>
                <tr>
                    <td>道具名</td>
                    <td>概率</td>
                    <td>获得数量</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in gl">
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 获奖记录表 -->
    <div class="dia tab-dia9" id="showMyGiftContent_905659"
         style="outline: none;position: fixed;bottom: 10%;left: 1%;z-index: 9;">
        <div class="dia-zc-box dia-bg4">
            <div class="content-box">
                <div class="fjb-box">
                    <div class="dia-price-tit tit"></div>
                    <div class="dia-fjb-bg">
                        <table class="table table_bor2">
                            <thead>
                            <tr>
                                <th>获取时间</th>
                                <th>道具名称</th>
                            </tr>
                            </thead>
                            <tbody id="getGiftContent_905659">
                            <tr v-if="cfhd_hjjl.length>0" v-for="(item,index) in cfhd_hjjl">
                                <template v-if="index>=cfhd_hjjl_page.pageStart&&index<=cfhd_hjjl_page.pageEnd">
                                    <td>{{item.Sj}}</td>
                                    <td>{{item.Name}}</td>
                                </template>
                            </tr>
                            <tr v-else>
                                <td colspan="3" align="center">您尚未获得任何礼包</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="page bxfy" id="getGiftPageContent_905659">
                        <span>{{cfhd_hjjl_page.pageIndex}} / {{cfhd_hjjl_page.pageTotal}}</span>
                        <a @click="pageChange(-1,'hjjl')" style="user-select:none;text-decoration: none;">上一页</a> /
                        <a @click="pageChange(+1,'hjjl')" style="user-select:none;text-decoration: none;">下一页</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:closeDialog();" class="dia-close" title="关闭"></a>
    </div>
</div>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.41/vue.global.min.js"></script>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="swiper-3.4.2.min.js"></script>
<script>

    //概率
    Vue.createApp({
        data() {
            return {
                gl: [
                    ['能量核心', '0.20%', 0],
                    ['尼泊尔军刀 朱雀', '0.20%', 0],
                    ['GALIL 荣耀AG 冠军杯2021', '0.20%', 0],
                    ['AWM 冠军律动', '0.20%', 0],
                    ['M4A1 青龙', '0.20%', 0],
                    ['AK-47 蒸汽朋克', '0.20%', 0],
                    ['GALIL 电弧之心', '0.20%', 0],
                    ['M4A1 电弧之心', '0.20%', 0],
                    ['汤姆逊冲锋枪 黑曜', '0.30%', 0],
                    ['VSK-94 黑曜', '0.30%', 0],
                    ['MG3 贵族', '0.30%', 0],
                    ['沙漠之鹰 贵族', '0.30%', 0],
                    ['AUG A1 1coin', '0.50%', 0],
                    ['USP 1coin', '0.50%', 0],
                    ['RPK 腥红爪痕', '1.00%', 0],
                    ['AC556 腥红爪痕', '1.00%', 0],
                    ['步枪消音器 碳纤维', '1.00%', 0],
                    ['手枪消音器 碳纤维', '1.00%', 0],
                    ['冲锋枪消音器 碳纤维', '1.00%', 0],
                    ['G36K 电路板', '5.00%', 0],
                    ['UMP45 电路板', '5.00%', 0],
                    ['挂饰-手雷', '3.00%', 0],
                    ['挂饰-烟雾弹', '3.00%', 0],
                    ['挂饰-闪光弹', '3.00%', 0],
                    ['10000CF点', '0.50%', 0],
                    ['5000CF点', '2.00%', 0],
                    ['1000CF点', '20.00%', 0],
                    ['100积分', '0.20%', 0],
                    ['50积分', '0.50%', 0],
                    ['10积分', '49.00%', 0],
                ],
                base_par: [
                    //概率,概率, 名字, 分解所得, 0:积分 1:道具 2:CF点, 图片类
                    [1, 20, '能量核心', 0, 1, 'lo_1_1'],
                    [21, 40, '尼泊尔军刀 朱雀', 70, 1, 'lo_1_1'],
                    [41, 60, 'GALIL 荣耀AG 冠军杯2021', 60, 1, 'lo_1_2'],
                    [61, 80, 'AWM 冠军律动', 60, 1, 'lo_1_3'],
                    [81, 100, 'M4A1 青龙', 60, 1, 'lo_1_4'],
                    [101, 120, 'AK-47 蒸汽朋克', 60, 1, 'lo_1_5'],
                    [121, 140, 'GALIL 电弧之心', 60, 1, 'lo_1_6'],
                    [141, 160, 'M4A1 电弧之心', 60, 1, 'lo_1_7'],
                    [161, 190, '汤姆逊冲锋枪 黑曜', 50, 1, 'lo_1_8'],
                    [191, 220, 'VSK-94 黑曜', 50, 1, 'lo_1_9'],
                    [221, 250, 'MG3 贵族', 50, 1, 'lo_1_10'],
                    [251, 280, '沙漠之鹰 贵族', 50, 1, 'lo_1_11'],
                    [281, 330, 'AUG A1 1coin', 40, 1, 'lo_1_12'],
                    [331, 380, 'USP 1coin', 40, 1, 'lo_1_13'],
                    [381, 480, 'RPK 腥红爪痕', 20, 1, 'lo_1_14'],
                    [481, 580, 'AC556 腥红爪痕', 20, 1, 'lo_1_15'],
                    [581, 680, '步枪消音器 碳纤维', 20, 1, 'lo_1_15'],
                    [681, 780, '手枪消音器 碳纤维', 20, 1, 'lo_1_15'],
                    [781, 880, '冲锋枪消音器 碳纤维', 20, 1, 'lo_1_15'],
                    [881, 1380, 'G36K 电路板', 10, 1, 'lo_1_15'],
                    [1381, 1880, 'UMP45 电路板', 10, 1, 'lo_1_15'],
                    [1881, 2180, '挂饰-手雷', 10, 1, 'lo_1_15'],
                    [2181, 2480, '挂饰-烟雾弹', 10, 1, 'lo_1_15'],
                    [2481, 2780, '挂饰-闪光弹', 10, 1, 'lo_1_15'],
                    [2780, 2830, '10000CF点', 10000, 2, 'lo_1_16'],
                    [2831, 3030, '5000CF点', 5000, 2, 'lo_1_16'],
                    [3031, 5030, '1000CF点', 1000, 2, 'lo_1_16'],
                    [5031, 5050, '100积分', 100, 0, 'lo_1_17'],
                    [5051, 5100, '50积分', 50, 0, 'lo_1_18'],
                    [5101, 10000, '10积分', 10, 0, 'lo_1_19'],
                    [11000, 12000, '手雷 机甲昼虎', 20, 1, 'lo_1_19'],
                    [13000, 14000, '烟雾弹 机甲昼虎', 20, 1, 'lo_1_19'],
                    [15000, 16000, '闪光弹 机甲昼虎', 20, 1, 'lo_1_19'],
                    [17000, 18000, '燃烧瓶 机甲昼虎', 20, 1, 'lo_1_19'],
                ],
                sendTime: "", //当前时间
                cfhd_czjl: 0,//cfhd充值记录
                cfhd_cjj: 0, //cfhd抽奖券
                cfhd_jf: 0, //cfhd积分
                cfhd_dj: 0, //cfhd点券
                cfhd_cjcs: 0, //cfhd抽奖次数
                cfhd_hjjl: [],//获奖记录
                cfhd_zcx: [],//暂存箱
                cfhd_cjjg: [],//抽奖结果
                cfhd_type: 0,//抽奖类型 1 或 10
                cfhd_hjjl_page: {
                    pageIndex: 1,//当前页
                    pageTotal: 1,//总页数
                    pageStart: 0,//当前分页数据
                    pageEnd: 9
                },
                cfhd_zcx_page: {
                    pageIndex: 1,//当前页
                    pageTotal: 1,//总页数
                    pageStart: 0,//当前分页数据
                    pageEnd: 9
                },
            }
        },
        computed:{
            m_url(){
                return window.location.href
            }
        },
        methods: {
            //购买抽奖券
            cjjAdd(num) {
                this.cfhd_cjj = this.cfhd_cjj + num;
                if (num > 0) {
                    this.cfhd_xyb = this.cfhd_xyb + num;
                }
            },
            //充值记录
            czjlAdd(num) {
                this.cfhd_czjl = this.cfhd_czjl + num;
            },
            //抽奖
            SendClick(num) {
                let _this = this
                _this.cfhd_hddtype = 0
                _this.cfhd_cjjg = []
                _this.cfhd_type = num
                if (_this.cfhd_cjj >= num) {
                    _this.cjjAdd(Number('-' + num))//减抽奖券
                    _this.cfhd_cjcs = _this.cfhd_cjcs + num//统计抽奖次数
                    for (var s = 0; s < num; s++) {
                        var sjs = Math.ceil(Math.random() * 10000);//概率
                        for (j = 0; j < _this.base_par.length; j++) {
                            var zxs = _this.base_par[j][0]
                            var zds = _this.base_par[j][1]
                            if (sjs >= zxs && sjs <= zds) {
                                _this.gl[j][2]++
                                _this.cfhd_hjjl.push({Sj: _this.format(), Name: _this.base_par[j][2]})//获奖记录
                                _this.cfhd_cjjg.push(_this.base_par[j][5])
                                if (_this.base_par[j][4] == 0) {//积分
                                    _this.cfhd_jf = _this.cfhd_jf + _this.base_par[j][3]
                                } else if (_this.base_par[j][4] == 2) {//CF点
                                    _this.cfhd_dj = _this.cfhd_dj + _this.base_par[j][3]
                                } else {//存暂存箱
                                    _this.cfhd_zcx.push({
                                        Name: _this.base_par[j][2],
                                        sExtend2: 0,
                                        iStatus: 3,
                                        Keynum: _this.base_par[j][3]
                                    })//获奖记录
                                }
                            }
                        }
                    }
                    _this.cfhd_hjjl_page.pageTotal = Number(_this.pagerCount(_this.cfhd_hjjl.length, 10))
                    _this.cfhd_zcx_page.pageTotal = Number(_this.pagerCount(_this.cfhd_zcx.length, 10))
                } else {
                    alert('您的抽奖券不足~')
                }
            },
            //获取当前时间
            format() {
                const nowDate = new Date();
                let yy = nowDate.getFullYear();
                let mm = nowDate.getMonth() + 1;
                let dd = nowDate.getDate();
                let hh = nowDate.getHours();
                let mf = nowDate.getMinutes() < 10 ? '0' + new Date().getMinutes() : new Date().getMinutes();
                let ss = nowDate.getSeconds() < 10 ? '0' + new Date().getSeconds() : new Date().getSeconds();
                let nDate = yy + '-' + mm + '-' + dd + ' ' + hh + ':' + mf + ':' + ss;
                return nDate
            },
            //获取页码
            pagerCount(count, pageSize) {
                if (typeof (count) == "number") {
                    if (count > 0) {
                        try {
                            var _pagerCount = count % pageSize == 0 ? count / pageSize : count / pageSize + 1;
                            var c = _pagerCount.toFixed(0);//小数取整
                            _pagerCount = c > _pagerCount ? c - 1 : c;//过滤四舍五入
                            return _pagerCount;

                        } catch (error) {
                            return 0;
                        }

                    } else {
                        return 0;
                    }
                } else {
                    return 0;
                }
            },
            //改变页数
            pageChange(num, type) {
                if (type == 'hjjl') {
                    if ((this.cfhd_hjjl_page.pageIndex == 1 && num < 0) || (this.cfhd_hjjl_page.pageIndex == this.cfhd_hjjl_page.pageTotal && num > 0)) {
                    } else {
                        this.cfhd_hjjl_page.pageIndex = this.cfhd_hjjl_page.pageIndex + num
                    }
                    this.cfhd_hjjl_page.pageStart = 10 * (this.cfhd_hjjl_page.pageIndex - 1)
                    this.cfhd_hjjl_page.pageEnd = this.cfhd_hjjl_page.pageStart + 9
                }
                if (type == 'zcx') {
                    if ((this.cfhd_zcx_page.pageIndex == 1 && num < 0) || (this.cfhd_zcx_page.pageIndex == this.cfhd_zcx_page.pageTotal && num > 0)) {
                    } else {
                        this.cfhd_zcx_page.pageIndex = this.cfhd_zcx_page.pageIndex + num
                    }
                    this.cfhd_zcx_page.pageStart = 10 * (this.cfhd_zcx_page.pageIndex - 1)
                    this.cfhd_zcx_page.pageEnd = this.cfhd_zcx_page.pageStart + 9
                }
            },
        }
    }).mount('#app')
    window.onload = function () {
        var swiper = new Swiper('.tab1-con .p1-swiper', {
            nextButton: '.tab1-con .lottery-bottom-box .swiper-button-next',
            prevButton: '.tab1-con .lottery-bottom-box .swiper-button-prev',
            spaceBetween: 30,
            autoplay: 10000,
            loop: true,
        });
        var swiperP4 = new Swiper('.tab1-con .p4-swiper', {
            nextButton: '.tab1-con .p4-shop .swiper-button-next',
            prevButton: '.tab1-con .p4-shop .swiper-button-prev',
        });
    }
    let watermark = {};
    let setWatermark = str => {
        let id = '1.23452384164.123412416';
        if (document.getElementById(id) !== null) {
            document.body.removeChild(document.getElementById(id));
        } //创建一个画布
        let can = document.createElement('canvas'); //设置画布的长宽
        can.width = 200;
        can.height = 200;
        let cans = can.getContext('2d'); //旋转角度
        cans.rotate((-25 * Math.PI) / 180);
        cans.font = '18px Vedana'; //设置填充绘画的颜色、渐变或者模式
        cans.fillStyle = 'rgba(13,206,158,0.20)'; //设置文本内容的当前对齐方式
        cans.textAlign = 'left'; //设置在绘制文本时使用的当前文本基线
        cans.textBaseline = 'Middle'; //在画布上绘制填色的文本（输出的文本，开始绘制文本的X坐标位置，开始绘制文本的Y坐标位置）
        for (let i = 0; i < str.length; i++) {
            cans.fillText(str[i], can.width / 8, can.height / 2 + (i * 30));
        }

        let div = document.createElement('div');
        div.id = id;
        div.style.pointerEvents = 'none';
        div.style.top = '30px';
        div.style.left = '0px';
        div.style.position = 'fixed';
        div.style.zIndex = '100000';
        div.style.width = document.documentElement.clientWidth + 'px';
        div.style.height = document.documentElement.clientHeight + 'px';
        div.style.background = 'url(' + can.toDataURL('image/png') + ') left top repeat';
        document.body.appendChild(div);
        return id;
    };

    // 该方法只允许调用一次
    watermark.set = str => {
        let id = setWatermark(str);
        setInterval(() => {
            if (document.getElementById(id) === null) {
                id = setWatermark(str);
            }
        }, 500);
        window.onresize = () => {
            setWatermark(str);
        };
    };

    watermark.set(['不需要登录', '不需要充值']);

</script>
</html>
